MONGODB_URI=mongodb://localhost:27017/earneasy
JWT_SECRET=your-super-secret-jwt-key-change-me
NEXT_PUBLIC_APP_URL=http://localhost:3000

FLUTTERWAVE_PUBLIC_KEY=FLWPUBK_TEST-xxxxxxxx
FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-xxxxxxxx
FLUTTERWAVE_WEBHOOK_HASH=your-webhook-secret-hash
FLUTTERWAVE_BASE_URL=https://api.flutterwave.com/v3

CLIENT_PRICE_KES=450